@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/* Configurações gerais */
:root{
    --azul_escuro: rgb(19, 51, 76); 
    --azul_claro: rgb(0, 106, 186);
    --branco: rgb(246, 246, 233);
    --laranja: rgb(207, 87, 23);
    --laranja-claro: rgb(255, 112, 35);
}
*{
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
body, html{
    background-image: url(../imagens/fundofoda.jpg);
    background-size: cover;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: var(--azul_claro);
}
a:hover{
    transition: 0.5s;
    text-decoration: underline;
}
div.container-pai{
    width: 900px;
    margin: 0 auto;
}
/* Cabeçalho */
div.header-provas{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
div.header-provas h1{
    text-align: center;
}
div#materias{
    display: inline;
}
div#dificuldades{
    display: inline;
}

/* Area das provas */
div.questoes-container{
    width: 870px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--azul_claro);
}
div.questoes-entrada{
    width: 100%;
    padding-bottom: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: var(--branco);
}