@charset "UTF-8";

/* Celular */
@media screen and (max-width: 720px){
    main{
        background-color: darkred;
    }
    /* header */
    div#logo{
        margin-top: 20px;
        height: 37px;
        width: 160px;
        background-image: url(../imagens/logo/logo-oficial-p.png);
    }
    /* Searchbar */
    #divBusca{
        width: 150px;
        height: 30px;
        position: absolute;
        top: 35px;
        left: 190px;
    }
    #btnBusca{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    #txtbusca{
        padding-bottom: 3px;
        width: 150px;
    }
    /* Login-btn */
    div#login-btn{
        left: 88%;
    }
    /* Navbar */
    nav#linha{
        width: 100%;
        padding-left: 30px;
    }
    nav#linha a{
        padding: 1px;
        margin: 0 10px 0px 13px;
    }
    /* Slideshow */
    .container-images{
        height: 390px;
    }
    /* Rodapé */
    ul{
        position: relative;
        columns: 2;
        list-style: none;
        font-size: 17px;
        padding-left: 45px;
        padding-right: 0;
        margin-left: 130px;
        width: 300px;
    }
    footer picture{
        width: 200px;
        height: 40px;
    }
    footer picture img{
        width: 120px;
        height: 50px;
        padding-top: 25px;
        padding-left: -10px;
    }
}

/* Tablet */
@media screen and (min-width: 721px) and (max-width: 1024px){
    main{
        background-color: burlywood;
    }
    /* Cabeçalho */
    header{
        padding: 8px;
    }
    div#logo{
        margin-top: 20px;
        width: 180px;
        height: 37px;
        background-image: url(../imagens/logo/logo-oficial-p.png);
    }
    /* Searchbar */
    #divBusca{
        width: 180px;
        height: 28px;
        position: absolute;
        top: 35px;
        left: 67%;
    }
    #btnBusca{
        position: absolute;
        top: 5px;
        right: 10px;
    }
    #txtbusca{
        padding-bottom: 5px;
    }
    /* Slideshow */
    .container-images{
        height: 428px;
        margin-bottom: -8px;
    }
    /* Rodapé */
    ul{
        margin-left: 400px;
    }
}

/* Telas maiores */
@media screen and (min-width: 1367px) and (max-width: 2001px){
    /* Cabeçalho */
    nav#linha{
        height: fit-content;
        padding: 10px;
        width: 100%;
        background-color: #aa4d1c;
        text-align: center;
    }
    nav a{
        text-decoration: none;
        display: inline;
        font-size: 19px;
        margin: 0 150px;
        color: white;
        padding: 8px;
    }
    nav a:hover{
        text-decoration: none;
        background-color: rgba(228, 92, 2, 0.678);
        height: 20px;
        width: 200px;
        border-radius: 6px;
    }
    /* Modal */
    .container-slider{    
        display: flex;
        width: 100%;
        min-height: 820px;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .conteudo-modal{
        height: 680px;
    }
    .cabecalho-modal{
        margin-top: 80px;
    }
    /* Botão Login */
    div#login-btn{
        display: block;
        position: absolute;
        top: 28px;
        right: -970px;
        cursor: pointer;
    }
    .conteudo-modal{
        height: 660px;
    }
    input[type="submit"]{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    input[type="radio" ]#pessoa00{
    margin-left: -15px;
    }
    input[type="radio" ]{
        margin-top: 10px;
    }
    /* Searchbar */
    #divBusca{
        background-color:#ffffff;
        border:solid 1px;
        border-radius:15px;
        width: 300px;
        height: 35px;
        position: absolute;
        top: 35px;
        left: 70%;
    }
    /*   */
    /* Rodapé */
    footer{
        height: fit-content;
        font-size: 19px;
    }
    picture{
        margin-left: 40px;
    }    
    picture img{
        position: fixed;
        height: 80px;
        width: 590px;
       
    }
    ul{
        columns: 2;
        list-style: none;
        font-size: 17px;
        padding-left: 35px;
        margin-left: 720px;
        width: 700px;
        height: 89px;
        padding-top: 10px;
        padding-bottom: -10px;
    }
    footer div#linharp{
        border: black;
        background-color: black;
        color: black;
        height: 1px;
        width: 100%;
    }

}