@charset "UTF-8";

/* Typical device breakpoints */
/*
Pequenas Telas: até 600px
Celulares: 600px até 768px
Tablets: 768 até 992px
Desktops: 992px até 1200px
Grandes Telas: acima de 1200px
*/

/* Telas menores */
@charset "UTF-8";

