@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

/* Configurações gerais */
:root{
    --azul_escuro: rgb(19, 51, 76); 
    --azul_claro: rgb(0, 106, 186);
    --branco: rgb(246, 246, 233);
    --laranja: rgb(207, 87, 23);
    --laranja-claro: rgb(255, 112, 35);
}
*{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 17px;
    margin: 0;
    padding: 0;
}
input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

body, html{
    background-image: url(../imagens/fundofoda.jpg);
    background-size: cover;
    overflow-x: hidden;
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--azul_claro);
}
a:hover{
    transition: 0.5s;
    text-decoration: underline;
}

/* Demais elementos do cabeçalho */
header{
    height: 80px;
    padding: 13px;
    border: 1px solid var(--laranja);
    background-color: var(--laranja);
}
div#logo{
    margin-top: 10px;
    height: 47px;
    width: 228px;
    background-image: url(../imagens/logo/logo-oficial-g.png);
}
a#logo-oficial{
    height: 61px;
    width: 301px;
}
#divBusca{
    background-color:#ffffff;
    border: 1px solid black;
    border-radius:15px;
    width: 286px;
    height: 35px;
    position: absolute;
    top: 35px;
    left: 885px;
}
#txtBusca{
    float: left;
    background-color:transparent;
    padding-left:5px;
    color: rgb(19, 19, 19);
    font-size:16px;
    border:none;
    height:32px;
    width: 260px;
}
#btnBusca{
    position: absolute;
    top: 8px;
}
input[type="text"]{
    cursor: auto;
}
div#login-btn{
    display: block;
    position: absolute;
    top: 28px;
    left: 92%;
    cursor: pointer;
}
div#login-btn a{
    text-decoration: none;
    position: absolute;
}
nav#linha{
    height: fit-content;
    padding: 10px;
    width: 100%;
    background-color: #aa4d1c;
}
nav a{
    text-decoration: none;
    display: inline;
    font-size: 18px;
    margin: 0 100px 0px 130px;
    color: white;
    padding: 8px;
}
nav a:hover{
    text-decoration: none;
    background-color: rgba(228, 92, 2, 0.678);
    height: 20px;
    width: 200px;
    border-radius: 6px;
}
/* Estilização da tela de login */
.modal{
    background-color: rgba(71, 71, 71, 0.719);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 3;
}
.conteudo-modal{
    margin: 0 auto;
    margin-top: 120px;
    max-width: 400px;
    height: 600px;
    background-color: #fff;
    border-radius: 10px;
    margin: auto; 
}
.cabecalho-modal{
    background-color:#cf5717;
    height: 110px;
    margin-top: 35px;
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid #af4d18 11px;
    justify-content: space-between;
}
.logo-btn{
    position: relative;
    margin-top: 40px;
    margin-left: 79px;
}
.fechar-modal{
    position: absolute;
    margin-top: 12px;
    margin-left: 370px;
    cursor: pointer;
}
.corpo-modal{
    padding:1px 8px 8px 8px;
    text-align: center;
    border-top: 1px solid #Eee;
}
.corpo-modal p{
    margin-bottom: -5px;
}
.corpo-modal a{
    color: var(--azul_claro);
    text-decoration: none;
}
.corpo-modal a:hover{
    text-decoration: underline;
}
.login-modal{
    font-family:'Source Sans Pro',sans-serif;
    font-size: 30px;
    text-align: center;
    margin-right:3px ;
    border-bottom: 1px solid #Eee;
}
.text-modal{
    margin-top: 40px;
}
.entrar-btn{
    background-color: #fff;
    color: #006aba;
    width: 160px;
    height: 80px;
    border: 2px solid #006aba;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 80px;
}
.entrar-btn:hover{
    background-color: #006aba;
    color: #fff;
}
.input-login{
    position: relative;
    padding-top: 15px;
    margin-top: 70px;
}
.input-login input{  
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
    min-width: 180px;
    font-size: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-appearance: none;
    border-radius:0;
}
.input-login input:focus{
    border-bottom: 2px solid #3951b2;
}
.input-login input::placeholder{
    color:transparent;
}
.input-login label{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 94px;
    margin-top: 13px;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}
.input-login input:focus + label,
.input-login input:not(:placeholder-shown) + label{
    font-size: 13px;
    margin-top: 0;
    color: #3951b2;
}
div#area-email{
    margin-bottom: 15px;
}
div#area-senha{
    margin-top: -5px;
    margin-bottom: 50px;
}
input[type="submit"]{
    margin-top: 10px;
    margin-bottom: 15px;
}
/* Conteúdo principal */
/* Slideshow */
.container-slider{
    display: flex;
    width: 100%;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    gap: 1px;
    
}
.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 640px;
    margin-bottom: -20px;
   
}

.slider{
    opacity: 0;
    transition:0.3s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}
.on{
    opacity: 1;
}
#prev-button, #next-button{ 
    width: 70px;
    height: 70px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#prev-button img, #next-button img{
    width: 80%;
    height: 80%;
}
#prev-button{
    transform: rotate(180deg);
}
/* Restante do conteúdo */
main{
    background-color: white;
    box-shadow: 5px 0px rgba(0, 0, 0, 0.300), -5px 0 rgba(0, 0, 0, 0.300);
    border-radius: 6px;
    width: 80vw;
    margin: 0 auto;
    padding: 15px;
}
main h1{
    font-size: 35px;
    padding: 2px 10px 10px 10px;
    text-indent: 20px;
}
main p{
    font-size: 18px;
    padding: 10px 10px 17px 10px;
    text-indent: 20px;
}
/* Rodapé */
footer{
    background-color: var(--laranja);
    color: black;
    border: none;
    height: fit-content;
    font-size: 16px;
}
footer div#linha2{
    height: 16px;
    background-color: #aa4d1c;
    border: none;
}
footer picture{
    margin-left: 40px;
}
footer picture img{
    width: 300px;
    padding-top: 10px;
    position: absolute;
}
ul{
    columns: 2;
    list-style: none;
    font-size: 17px;
    padding-left: 60px;
    padding-right: 40px;
    margin-left: 500px;
    width: 500px;
}
strong#suporte{
    margin-left: -2px;
    margin-bottom: 35px;
}
footer hr{
    margin-left: 20px;
    width: 100px;
    color: black;
    border: none;
    height: 2px;
}
footer a{
    text-decoration: none;
    color: black;
    display: block;
    width: fit-content;
}
footer a:hover{
    text-decoration: underline;
}
footer p#frasef{
    padding: 7px 7px 1px 7px;
    text-align: center;
}
footer div#linharp{
    border: black;
    background-color: black;
    color: black;
    height: 1px;
    width: 100%;
}

/* Áreas de configurações específicas */

/* Dúvidas */
h1#tituloduv{
    text-indent: 0px;
}
h2.h2-duvidas{
    text-indent: 14px;

}
p.p-duvidas{
    margin-bottom: 15px;
    text-indent: 0px;
}

/* Tela Institucional*/
h1#tituloint{
    padding-top: 20px;
}
div.paragrafos{
    padding: 30px;
}
div.paragrafos h2{
    font-size: 1.2rem;
    text-align: left;
    margin-left: 2px;
    text-decoration: underline;
}
div.paragrafos p{
    text-align: justify;
    display: inline-block;
    margin: auto;
}
div#p4{
    margin-bottom: -200px;
} 
