:root {
  --azul_escuro: rgb(19, 51, 76);
  --azul_claro: rgb(0, 106, 186);
  --branco: rgb(246, 246, 233);
  --laranja: rgb(207, 87, 23);
  --laranja-claro: rgb(255, 112, 35);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../../img/fundoquedabom.jpg);
  color: black;
}

input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

main {
  background-color: white;
  width: 30vw;
  min-height: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  color: black;
  padding: 15px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.login-button {
  position: absolute;
  top: 5px;
  right: 6px;
}

.login-button button:hover {
  background-color: #cf5717;
}

.login-button button {
  border: none;
  color: white;
  background-color: #cf5717;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button a {
  text-decoration: none;
  color: white;
}

h1 {
  margin-top: 10px;
  margin-bottom: 25px;
}

hr {
  border: none;
  margin-top: -25px;
  margin-bottom: 20px;
  height: 5px;
  background-color: var(--laranja);
}

section {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

section div {
  display: flex;
  flex-direction: column;
}

form div {
  display: flex;
  justify-content: center;
}

label {
  font-size: 0.8rem;
  width: 177px;
  margin: 0 auto;
}

input {
  margin: 0.6rem 0;
  padding: 0.8rem;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.11);
  font-size: 0.8rem;
  margin-right: auto;
  margin-left: auto;
}

input:hover {
  background-color: rgba(238, 238, 238, 0.8);
  transition: 0.5s;
}

input:focus-visible {
  outline: 1px solid rgb(207, 87, 23);
}

input[type="submit"] {
  border: 2px solid var(--azul_claro);
  width: 200px;
  background-color: white;
  color: black;
}

input[type="submit"]:hover {
  background-color: var(--azul_claro);
  cursor: pointer;
  color: white;
  transition: 0.5s;
}

/* Mediaquery */

/* Celular */
@media (max-width: 800px) {
  section {
    flex-direction: column;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  main {
    width: 45vw;
  }
}