<footer>
  <div id="linha2"></div>
  <picture>
    <source
      media="(max-width: 768px)"
      srcset="img/logo/bonecoestudaja2-p.png"
    />
    <source
      media="(max-width: 1024px)"
      srcset="img/logo/bonecoestudaja2-m.png"
    />
    <source
      media="(max-width: 1367px)"
      srcset="img/logo/bonecoestudaja2-mg.png"
    />
    <img src="img/logo/bonecoestudaja2.png" alt="a" />
  </picture>
  <div class="content">
    <div class="col1">
      <strong class="titulo"><ins>Início</ins></strong>
      <a href="institucional.html">Institucional</a>
      <a href="duvidas.html">Dúvidas</a>
    </div>
    <div class="col2">
      <strong class="titulo" id="suporte"><ins>Suporte</ins></strong>
      <a href="duvidas.html">FAQ</a>
      <a href="email.html.html">E-mail</a>
    </div>
  </div>
  <div id="linharp">
    <p id="frasef">© 2023 Copyright - TechnoLords</p>
  </div>
</footer>
