<header>
  <div class="header_top">
    <a href="#" id="logo-oficial">
      <img src="img/logo/logo-oficial-g.png" alt="" />
    </a>
    <div id="login_btn">
      <img
        id="login"
        src="img/icons/user.png"
        alt="login"
        title="Login/Cadastro"
      />
    </div>
  </div>
  <nav>
    <a href="index.php" class="selected">Início</a>
    <a href="institucional.php">Institucional</a>
    <a href="duvidas.php">Dúvidas</a>
    <a href="" id="tests_link">Provas</a>
  </nav>
</header>
